body{
  background-color: rgba(211, 211, 211, 0.329);
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(0, 0, 0, 0.733);
}

.container{
  margin: 0 auto;
  background-color: white;
  width: 500px;
  height: 500px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
  
  flex-direction: column;

}

.container input{
  width: 396px;
  height: 30px;
  border-radius: 5px;
  border: 0.5px solid rgba(128, 128, 128, 0.356);
  font-size: 16px;
}

.enterTask{
  display: flex;
  flex-direction: column;
  gap: 10px;

}

.task{
  width: 400px;
  background-color:  rgba(211, 211, 211, 0.329);
  border: 1px solid rgba(211, 211, 211, 0.329);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.733);
  display: flex;
  justify-content:space-between;
  align-items: center;

}

.btn{
  width: 60px;
  height: 36px;
  color: rgba(0, 0, 0, 0.733);
  font-size: 16px;
  background-color: rgba(128, 128, 128, 0.411);
  border: 1px solid rgba(211, 211, 211, 0.329);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  margin-right: 10px;
}

.enterTask button{
  width: 100px;
}



